{% extends 'base.html.twig' %}

{% block title %}Nos Contacts !{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-3">Voici les contacts !</h1>
    <div class="row">
    <a href='{{path('contact_create')}}' class='btn btn-primary'>Crée votre contact</a>
        {% for contact in contacts %}
            <div class="col-md-4">
                <div class="card bg-ligh mb-3">
                    <div class="card-header text-center">
                        {{ contact.prenom }},{{ contact.nom }}<br>
                        {{ contact.adresse }},{{ contact.codepostal }},{{contact.ville}}<br>
                        {{ contact.numTel }},{{ contact.adresseMail }}<br>
                        <a href="#">
                        <img src="{{contact.urlAvatar}}" alt="Avatar"
                        style="height: 200px; width: 100%; display: block">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{path('contact_show',{'id': contact.id})}}">
                                {{contact.nom}},{{contact.prenom}}
                                </a>
                            </h4>
                            <a href="{{path('contact_show',{'id': contact.id})}}" class="btn btn-secondary">En savoir +</a>
                            <a href="{{path('contact_delete',{'id': contact.id})}}" class="btn btn-danger">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}